.ventajas {
    background-color: black;
    color: white;

    .ventajas-title {
        display: flex;
        justify-content: center;
        padding-top: 3rem;

        h1 {
            color: #FFCC33;
        }
    }

    .ventajas-content {
        padding-top: 5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 3rem;

        .ventajas-content-img {
            width: 50%;
            text-align: end;

            img {
                width: 300px;
                margin-right: 20%;
            }
        }

        .ventajas-content-icons {
            margin-top: 2rem;
            width: 50%;

            .ventajas-content-icons-gift {
                display: flex;
                align-items: center;
                margin: 0 0 5rem 0;

                img {
                    width: 30px;
                    margin-right: 2rem;
                }

                p {
                    font-size: 18px;
                    width: 55%;
                }
            }

            .ventajas-content-icons-pack {
                display: flex;
                align-items: center;
                margin: 0 0 5rem 0;

                img {
                    width: 30px;
                    margin-right: 2rem;
                }

                p {
                    font-size: 18px;
                    width: 55%;
                }
            }

            .ventajas-content-icons-descuentos {
                display: flex;
                align-items: center;
                margin: 0 0 3rem 0;

                img {
                    width: 30px;
                    margin-right: 2rem;
                }

                p {
                    font-size: 18px;
                    width: 55%;
                }
            }
        }
    }

    .ventajas-catalogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;

        p {
            font-size: 18px;
            text-align: center;
            width: 50%;
            margin-bottom: 2rem;
        }

        button {
            margin: 0 3rem 0 0;
            background-color: #FFCC33;
            font-size: 16px;
            padding: 10px 25px;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            margin-bottom: 4rem;
        }
    }

    @media screen and (min-width: 300px) and (max-width:859px) {
        .ventajas-title {
            h1 {
                text-align: center;
            }
        }

        .ventajas-content {
            flex-direction: column;
            align-items: center;

            .ventajas-content-img {
            
    
                img {
                    width: 200px;
                    text-align: center;
                    margin-right: 0;
                }
            }
    

            .ventajas-content-icons {
                width: 100%;

                .ventajas-content-icons-gift {
                    flex-direction: column;

                    img {
                        margin: 40px 0 20px 0;
                        width: 60px;
                        
                    }

                    p {
                        padding-top: 1rem;
                        text-align: center;
                        width: 80%;
                    }
                }

                .ventajas-content-icons-pack {
                    flex-direction: column;

                    img {
                        margin: 0;
                        width: 60px;
                    }

                    p {
                        padding-top: 1rem;
                        text-align: center;
                        width: 80%;
                    }
                }

                .ventajas-content-icons-descuentos {
                    flex-direction: column;

                    img {
                        margin: 0;
                        width: 60px;
                    }

                    p {
                        padding-top: 1rem;
                        text-align: center;
                        width: 80%;
                    }
                }
            }
        }

        .ventajas-catalogo {
            flex-direction: column;
            align-items: center;
            margin-top: 0;

            p {
                width: 70%;
            }

            button {
                margin: 0 0 3rem 0;
            }
        }
    }
}