.navbar {
    display: flex;
    justify-content: space-between;
    

    .logo {
        margin: 0 0 0 3rem;
    }

    button {
        margin: 0 3rem 0 0;
        background-color: #FFCC33;
        font-size: 20px;
        padding: 10px 25px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
    }

    @media screen and (min-width: 300px) and (max-width:859px) {
        align-items: center;

        margin-top: -5rem;
        margin-left: -2rem;

        .logo {
            img {
                width: 60%;
            }

            width: 200px;
        }

        button {
            font-size: 16px;
        }
    }
}