.carousel {
    background-color: #34FF98;

    .carousel-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 3rem 0;

        h1 {
            text-align: center;
            width: 70%;
            padding-bottom: 2rem;
            font-weight: 800;
        }

        p {
            font-size: 25px;
        }
    }

    .carousel-imgs {
        display: flex;
        justify-content: space-evenly;

        .carousel-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url("../../Assets/Desktop/6.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 370px;
            height: 300px;
            background-position: center;

            h2 {
                text-align: center;
                width: 60%;
                color: white;
            }

            button {
                background-color: white;
                padding: .5rem 1rem;
                border-radius: 10px;
                border: none;
                font-size: 18px;
                font-weight: bold;
                margin-top: 2rem;
            }
        }

        .carousel-div2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url("../../Assets/Desktop/1.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 370px;
            height: 300px;
            background-position: center;

            h2 {
                text-align: center;
                width: 60%;
                color: white;
            }

            button {
                background-color: white;
                padding: .5rem 1rem;
                border-radius: 10px;
                border: none;
                font-size: 18px;
                font-weight: bold;
                margin-top: 2rem;
            }
        }
    }

    .carousel-puntos {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 70px;
            ;
        }
    }

    @media screen and (min-width: 300px) and (max-width:859px) {

        .carousel-text {
            h1 {
                width: 90%;
            }

            p {
                text-align: center;
                width: 80%;
            }
        }

        .carousel-imgs {
            .carousel-div {
                width: 350px;
                ;
            }

            .carousel-div2 {
                display: none;
            }
        }
    }
}