.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

    p {
        text-align: center;
        color: white;
        font-size: 30px;
        padding: 1rem 0 1rem 0;
    }

    .form-container {
        margin: 3rem 0 3rem 0;
        ;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        width: 90%;
        justify-content: center;
        padding: 1rem 1rem;

        input {
            margin: 1rem 2rem 1rem 2rem;
            border-radius: 10px;
            padding: 1rem;
            width: 70%;
            max-width: 450px;
        }

        button {
            background-color: #34FF98;
            color: white;
            font-size: 20px;
            padding: 1rem;
            width: 77%;
            max-width: 486px;
            border-radius: 10px;
        }
    }

    @media screen and (min-width: 300px) and (max-width:859px) {
        .contacto-title {
            h1 {
                font-size: 26px;
                width: 100%;
            }
        }
    }
}